<!DOCTYPE html>
<html ng-app='firebaseApp'>

<head>
    <meta charset="utf-8">

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src='angularfire.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Firebase/Angular App</title>
    <style>
    td {
        height: 51px;
    }
    </style>
</head>

<body ng-controller='BaseController'>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-4">Name</th>
                    <th class="col-md-6">Text</th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>
                        <span class='userName'>{{ user.name }}</span>

                    </td>
                    <td>
                        <span class='userText'>{{ user.text }}</span>

                    </td>
                    <td><i class="glyphicon glyphicon-pencil" ng-click='showModal()'> </i>
                        <div class="modal fade"  tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Edytuj dane</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form ng-submit="users.$save(user)">
                                            <div class="form-group">
                                                <input type="text" ng-model="user.name" placeholder="Name" class="form-control" />


                                            </div>
                                            <div class="form-group">
                                                <input type='text' ng-model="user.text" placeholder="Text" class="form-control">
                                            </div>


                                            <button id="add" class="btn btn-primary" type="Submit" ng-click='dismissModal()'>Add</button>
                                        </form>
                                    </div>

                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </td>
                    <td><i class="glyphicon glyphicon-trash" ng-click="users.$remove(user)"></i>
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="col-md-4 col-md-offset-2">
            <form ng-submit="addUser()">
                <div class="form-group">
                    <input type="text" ng-model="userName" placeholder="Name" class="form-control userName" />


                </div>
                <div class="form-group">
                    <input type='text' ng-model="userText" placeholder="Text" class="form-control userText">
                </div>


                <button id="add" class="btn btn-primary" type="Submit">Add</button>
            </form>
        </div>

    </div>

    <script>
    var app = angular.module("firebaseApp", ["firebase"]);
    app.controller("BaseController", function($scope, $firebaseArray) {
        var ref = new Firebase("https://intense-torch-2051.firebaseio.com/");
        $scope.users = $firebaseArray(ref);

        $scope.editUser = function(id) {

            item = $scope.users.$getRecord(id);
            //$scope.userName = item.name;
            //$scope.userText = item.text;
            //item.name = nameInput.val();
            //item.text = textInput.val();
            /*$scope.users.$save(item).then(function() {
                console.log('done');
            });*/
        };
        $scope.addUser = function() {

            $scope.users.$add({
                name: $scope.userName,
                text: $scope.userText
            });


        };
        $scope.dismissModal = function() {
            
            $('.modal').modal('hide');
            
                
        };
        $scope.showModal = function(){
           $(event.target).parent().parent().find(".modal").modal('show');
        }



    });
    var nameInput = $('.userNameEdit');
    var textInput = $('.userTextEdit');



    /*$('table').on("click", $(".glyphicon-pencil"), function(event) {

        var pare = $(event.target).parent().parent();
        nameInput.val(pare.find('.userName').html());
        textInput.val(pare.find('.userText').html());
        /*var targ = $(event.target);
        if (targ.hasClass('glyphicon-pencil') || targ.hasClass('glyphicon-ok')) {
            targ.toggleClass('glyphicon-pencil').toggleClass('glyphicon-ok').parent().parent().find('input').toggle().parent().parent().find('span').toggle();
        }*/

    //})





    /*$("#add").on("click", function() {
        myDataRef.push({
            name: $("#name").val(),
            text: $("#text").val()
        });
    })
    $("u").on("click", function() {
        console.log("click");

    })
    myDataRef.on('child_added', function(snapshot) {
        var message = snapshot.val();
        console.log(snapshot.val());
        $("tbody").append("<tr><td>" + message.name + "</td><td>" + message.text + "</td><td><i class='glyphicon glyphicon-pencil'></i></td></tr>");
    });*/
    </script>
</body>

</html>
